

# Use this file to set environment variables for your development environment.

RPC_URL=https://rpc.abc.t.raas.gelato.cloud # RPC URL for the network you are using
FACTORY_ADDRESS=___0x___ # UniswapV2 Factory Address
ROUTER_ADDRESS=___0x___ # UniswapV2 Router Address
WETH_ADDRESS=___0x___ # WETH Address
PRIVATE_KEY= ___0x___ # Private Key of the account you are using

FACTORY_ADDRESS=0x7d9E55ec6DE63bc764dE629508e0B1a3b120B60E
ROUTER_ADDRESS=0xAFAB7513EB80460ABA36d60824d30C61c2E11361
WETH_ADDRESS=0xF4BFFAD12837369Cb0928815aCfC9a768C8c0eD8